//artifactory.corp.adobe.com/artifactory/api/npm/npmjs-remote/:_auth=${NPM_TOKEN}
//artifactory.corp.adobe.com/artifactory/api/npm/npm-aem-release/:_auth=${NPM_TOKEN}
registry=https://artifactory.corp.adobe.com/artifactory/api/npm/npm-aem-release
@aemforms:registry=https://artifactory.corp.adobe.com/artifactory/api/npm/npm-aem-release/
registry=https://artifactory.corp.adobe.com/artifactory/api/npm/npmjs-remote/
email=${NPM_EMAIL}
always-auth=true