/* ===============Button================== */
.cmp-adaptiveform-button{
  margin: $field-margin;
  position: relative;
  margin-right: $field-right-margin;
}
.cmp-adaptiveform-button__widget {
  border: 2px solid $dark-gray;
  background: $white;
  border-radius: 1.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  color: $dark-gray;
  font-size: $font-md;
}
.cmp-adaptiveform-button__widget:hover {
  background: $dark-gray;
  color: $white;
}
.cmp-adaptiveform-button__widget[data-cmp-enabled]:not([data-cmp-enabled=true]) {
  background: $gray;
  color: $very-light-gray;
}

.cmp-adaptiveform-button__longdescription {
  color: $light-gray;
  background-color: $very-light-gray;
  font-size: $font-sm;
  padding: 0.125rem 0.5rem;
  margin-top: $error-top-margin;
  margin-bottom: 5px;
}
.cmp-adaptiveform-button__shortdescription {
  font-size: $font-sm;
  margin-top: $error-top-margin;
}
.cmp-adaptiveform-button__questionmark{
  position: absolute;
  display:inline-block;
  top:8px;
  right:8px;
  width:1rem;
  height:1rem;
  border-radius: 9px;
  background: url(./resources/images/question.svg) center center / cover no-repeat,#969696;
  cursor : pointer;
}