/* ===============Button================== */
.cmp-button {
  border: 2px solid $primary-color;
  background: $white;
  color: $primary-color;
  border-radius: 1.5rem;
  font-size: $font-size;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin-top: $field-top-m;
  position: relative;
}
.cmp-button:hover {
  background: $primary-color;
  color: $white;
}
.cmp-button[data-cmp-enabled]:not([data-cmp-enabled=true]) {
  background: $secondary-color;
  color: $disabled-color;
}
.cmp-button__text {

}