.cmp-verticaltabs{
  color: $dark-gray;
  font-size: $font-md;
  margin: $field-margin;
}
.cmp-verticaltabs__label-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cmp-verticaltabs__tabs-container{
  display: flex;
  margin-top: 16px;
}
.cmp-verticaltabs__tabpanel{
  flex: 1;
  padding: 16px 56px;
  background: $wizard-bg-color;
  border: 1px solid $very-light-gray;
}
.cmp-verticaltabs__tabpanel--active{
  
}
.cmp-verticaltabs__tablist{
  width: 150px;
  list-style: none;
  padding: 0;
  margin: 0;
}
.cmp-verticaltabs__tab{
  color: $dark-gray;
  padding: 12px 4px 12px 32px;
  background: #f1f1f1;
  border: 1px solid $very-light-gray;
  border-right: none;
}
.cmp-verticaltabs__tab:hover{
  background: $very-light-gray;
}
.cmp-verticaltabs__tab.cmp-verticaltabs__tab--active{
  background: $gray;
  color: $white;
}
.cmp-verticaltabs__longdescription {
  color: $dark-gray;
  background-color: $very-light-gray;
  font-size: $font-sm;
  margin-top: $error-top-margin;
  margin-bottom: 5px;
  padding: 10px;
  p{
    margin: 0;
    padding: 0;
  }
}
.cmp-verticaltabs__shortdescription {
  font-size: $font-sm;
  margin-top: $error-top-margin;
}
.cmp-verticaltabs__questionmark{
  display:inline-block;
  width:1rem;
  height:1rem;
  border-radius: 9px;
  background: url(./resources/images/question.svg) center center / cover no-repeat,#969696;
  cursor : pointer;
  // below properties for backward compatibility
  position: absolute;
  right: 20px;
}
.cmp-verticaltabs__tablist {
  counter-reset: item; 
}
.cmp-verticaltabs__tablist>li::before{
  @include tablist-counter();
}
.cmp-verticaltabs__tablist > li.cmp-verticaltabs__tab--active::before{
  background-color: $dark-gray;
  border-color: $dark-gray;
  color: $white;
  outline: 2px;
}
.cmp-verticaltabs__tablist > li.cmp-verticaltabs__tab--stepped::before {
  content: "";
  background: url(./resources/images/tick.svg) center center / .75rem .75rem no-repeat, $gray;
  border-color: rgba(0, 0, 0, 0); 
}
.cmp-verticaltabs__tablist > li.cmp-verticaltabs__tab--active.cmp-verticaltabs__tab--stepped::before{
  background-color: $dark-gray;
  border-color: $dark-gray;
}
.cmp-verticaltabs__tablist > li.cmp-verticaltabs__tab--stepped{
  display: flex;
  gap: 10px;
}
.cmp-verticaltabs__tablist > li {
  display: flex; 
  align-items: flex-start; 
  gap: 10px;
}
// below properties for backward compatibility
.cmp-verticaltabs__label-container .cmp-verticaltabs__questionmark{
  position: unset;
  right: unset;
}