.cmp-verticaltabs{
  color: $dark-gray;
  font-size: $font-md;
  margin: $field-margin;
  position: relative;
  margin-right: $field-right-margin;
}
.cmp-verticaltabs__tabs-container{
  display: flex;
  margin-top: 16px;
}
.cmp-verticaltabs__tabpanel{
  flex: 1;
  padding: 16px 56px;
  background: $wizard-bg-color;
  border: 1px solid $very-light-gray;
}
.cmp-verticaltabs__tabpanel--active{
  
}
.cmp-verticaltabs__tablist{
  width: 150px;
  list-style: none;
  padding: 0;
  margin: 0;
}
.cmp-verticaltabs__tab{
  color: $dark-gray;
  padding: 12px 4px 12px 32px;
  background: #f1f1f1;
  border: 1px solid $very-light-gray;
  border-right: none;
}
.cmp-verticaltabs__tab:hover{
  background: url(./resources/images/tick_hover.svg) 0.5rem 50% / 0.8125rem auto no-repeat,$very-light-gray;
}
.cmp-verticaltabs__tab.cmp-verticaltabs__tab--active{
  background: $gray;
  color: $white;
  background: url(./resources/images/tick.svg) 0.5rem 50% / 0.8125rem auto no-repeat,$gray;
}
.cmp-verticaltabs__longdescription {
  color: $light-gray;
  background-color: $very-light-gray;
  font-size: $font-sm;
  padding: 0.125rem 0.5rem;
  margin-top: $error-top-margin;
}
.cmp-verticaltabs__shortdescription {
  font-size: $font-sm;
  margin-top: $error-top-margin;
}
.cmp-verticaltabs__questionmark{
  position: absolute;
  display:inline-block;
  top:8px;
  right:8px;
  width:1rem;
  height:1rem;
  border-radius: 9px;
  background: url(./resources/images/question.svg) center center / cover no-repeat,#969696;
  cursor : pointer;
}