.cmp-adaptiveform-wizard {
    color: $dark-gray;
    font-size: $font-md;
    margin: $field-margin;
    position: relative;
    background: $wizard-bg-color;
    padding-bottom: 2rem;
    border: 1px solid $very-light-gray;
    padding-left: 10px;
    margin-right: $field-right-margin;
  &__widget {
    position: relative;
  }  
  &__tabList {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    list-style: none;
  }
  &{
    &__tab {
      border-bottom: 2px solid $very-light-gray;
      color: $light-gray;
      padding: 0.5rem 0 1rem 0;
      margin-right: .75rem;
      box-sizing: border-box;
      flex: 1;
    }
    &__tab--active {
      border-bottom: 2px solid $dark-gray;
      color: $dark-gray;
    }
  }
  &__wizardpanel {
    margin-top: 30px;
    width: 75%;
    padding-left: 4%;
  }
  &__previousNav {
    @include wizardNavMixin(140px, 0.5rem);
    background:url(./resources/images/Chevron-Left.svg) center center / 1rem 1rem no-repeat;
  }
  &__previousNav:hover {
    background:url(./resources/images/Chevron-Left-White.svg) center center / 1rem 1rem no-repeat,$light-gray;
  }
  &__nextNav {
    @include wizardNavMixin(45px, 1rem);
    background:url(./resources/images/Chevron-Right.svg) center center / 1rem 1rem no-repeat;
  }
  &__nextNav:hover {
    background:url(./resources/images/Chevron-Right-White.svg) center center / 1rem 1rem no-repeat,$light-gray;
  }
  @include descriptionMixin(0,0,8px);
}
