/* ===============Checkbox group================== */
.cmp-adaptiveform-checkboxgroup {
  color: $dark-gray;
  font-size: $font-md;
  margin: $field-margin;
  position: relative;
  display: flex;
  flex-direction: column;
}
.cmp-adaptiveform-checkboxgroup__widget {
  font-size: $font-md;
  color: $dark-gray;
  display: flex;
  flex-wrap: wrap;
  gap: $radio-checkbox-gap;
  margin-top: $label-top-margin;
  margin-right: $field-right-margin;
}
.cmp-adaptiveform-checkboxgroup__widget.HORIZONTAL{
  min-height: $field-height;
}
.cmp-adaptiveform-checkboxgroup__widget.VERTICAL{
  flex-direction: column;
}
.cmp-adaptiveform-checkboxgroup__longdescription {
  color: $light-gray;
  background-color: $very-light-gray;
  font-size: $font-sm;
  padding: 0.125rem 0.5rem;
  margin-top: $error-top-margin;
  margin-right: $field-right-margin;
}
.cmp-adaptiveform-checkboxgroup__shortdescription {
  font-size: $font-sm;
  margin-top: $error-top-margin;
}
.cmp-adaptiveform-checkboxgroup__questionmark {
  position: absolute;
  display:inline-block;
  top:8px;
  right:28px;
  width:1rem;
  height:1rem;
  border-radius: 9px;
  background: url(./resources/images/question.svg) center center / cover no-repeat,#969696;
  cursor : pointer;
}
.cmp-adaptiveform-checkboxgroup__errormessage{
  color: $error;
  font-size: $font-sm;
  margin-top: $error-top-margin;
}
.cmp-adaptiveform-checkboxgroup__widget.HORIZONTAL .cmp-adaptiveform-checkboxgroup-item{
  max-width: 240px;
}
.cmp-adaptiveform-checkboxgroup-item {
  color: $dark-gray;
}
.cmp-adaptiveform-checkboxgroup[data-cmp-valid=false]{
  background: $light-error;
  border: 0 solid $error;
  border-left-width: 4px;
  padding-left: 5px;
}
.cmp-adaptiveform-checkboxgroup[data-cmp-valid=true]{
  border: 0 solid $success;
  border-left-width: 4px;
  padding-left: 5px;
}