/* ===============Checkbox group================== */
.cmp-adaptiveform-checkboxgroup {
  color: $dark-gray;
  font-size: $font-md;
  margin-top: $field-top-m;
  position: relative;
}
.cmp-adaptiveform-checkboxgroup__widget {
  margin-top: $label-top-m;
}
.cmp-adaptiveform-checkboxgroup__label {

}
.cmp-adaptiveform-checkboxgroup__widget__label {
    display: inline;
}
.cmp-adaptiveform-checkboxgroup__longdescription {
  color: $light-gray;
  background-color: $very-light-gray;
  font-size: $font-sm;
  padding: 0.125rem 0.5rem;
  margin-top: $error-top-m;
}
.cmp-adaptiveform-checkboxgroup__shortdescription {
  font-size: $font-sm;
  margin-top: $error-top-m;
}
.cmp-adaptiveform-checkboxgroup__questionmark {
  position: absolute;
}
.cmp-adaptiveform-checkboxgroup__errormessage{
  color: $error;
  font-size: $font-sm;
  margin-top: $error-top-m;
}
.cmp-adaptiveform-checkboxgroup-item {
  color: $gray;
}
.cmp-adaptiveform-checkboxgroup-item.HORIZONTAL{
  margin-right: 1.5rem;
}
.cmp-adaptiveform-checkboxgroup-item.VERTICAL{
  margin-bottom: 1.5rem;
}
.cmp-adaptiveform-checkboxgroup[data-cmp-valid=false]{
  border-left-width: 4px;
  border-style: solid;
  border-color: $error;
  border-right-width: 0;
  border-top-width: 0;
  border-bottom-width: 0;
  background: $light-error;
  padding: 5px;
}
.cmp-adaptiveform-checkboxgroup[data-cmp-valid=true]{
  border-bottom-width: 0;
  border-right-width: 0;
  border-top-width: 0;
  border-left-width: 4px;
  border-style: solid;
  border-color: $success;
  padding: 5px 0 0 5px;
}