/* ===============Checkbox group================== */





input[type='checkbox'] {
  height: 1rem;
  width: 1rem;
}

input[type='checkbox']:hover {
  cursor: pointer;
  height: 1rem;
  width: 1rem;
}





.cmp-adaptiveform-checkbox__label {
  display: flex;
  align-items: center;
  color: $dark-gray;
  column-gap: $space-s;
  position: static;
  margin-top: 0;
  opacity: 1;
}

.cmp-adaptiveform-checkboxgroup-item {
  position: static;
  padding: 12px;
}

.cmp-adaptiveform-checkboxgroup-item:focus-within {
  background-color: $bg-gray;
  border-radius: $field-radius;
  outline: $focus-outline;
}





.cmp-adaptiveform-checkboxgroup__widget.HORIZONTAL{
  flex-direction: row;
  margin: 0;
  column-gap: 0;
  display: flex;
  margin-bottom: $space-s;

}
.cmp-adaptiveform-checkboxgroup__widget.VERTICAL{
  flex-direction: column;
  margin: 0;
  row-gap: 0;
  display: flex;
  margin-bottom: $space-s;
}
// .cmp-adaptiveform-checkboxgroup__longdescription {
//   color: $light-gray;
//   background-color: $very-light-gray;
//   font-size: $font-s;
//   padding: 0.125rem 0.5rem;
//   margin-top: $error-top-margin;
//   margin-right: $field-right-margin;
// }
// .cmp-adaptiveform-checkboxgroup__shortdescription {
//   font-size: $font-s;
//   margin-top: $error-top-margin;
// }
// .cmp-adaptiveform-checkboxgroup__questionmark {
//   position: absolute;
//   display:inline-block;
//   top:8px;
//   right:28px;
//   width:1rem;
//   height:1rem;
//   border-radius: 9px;
//   background: url(./resources/images/question.svg) center center / cover no-repeat,#969696;
//   cursor : pointer;
// }
// .cmp-adaptiveform-checkboxgroup__errormessage{
//   color: $error;
//   font-size: $font-s;
// }
.cmp-adaptiveform-checkboxgroup-item {
  color: $gray;
}
.cmp-adaptiveform-checkboxgroup-item.HORIZONTAL{
  margin-right: 1.5rem;
  height: 44px;
}
.cmp-adaptiveform-checkboxgroup-item.VERTICAL{
  margin-bottom: 1.5rem;
}
// .cmp-adaptiveform-checkboxgroup[data-cmp-valid=false]{
//   background: $light-error;
//   border: 0 solid $error;
//   border-left-width: 4px;
//   padding-left: 5px;
// }
// .cmp-adaptiveform-checkboxgroup[data-cmp-valid=true]{
//   border: 0 solid $success;
//   border-left-width: 4px;
//   padding-left: 5px;
// }