/* ===============Checkbox group================== */
.cmp-adaptiveform-checkboxgroup {
    @include container();
  &__widget {
    @include widget(0, $field-right-margin, $label-top-margin); 
    display: flex;
    gap: $radio-checkbox-gap;
  }
  &__widget.HORIZONTAL {
    height: $field-height;
  }
  &__widget.VERTICAL {
    flex-direction: column;
  }
  @include descriptionMixin(0, $field-right-margin, 28px);
  @include validInvalidMixin();
  &-item {
    color: $gray;
  }
  &-item.HORIZONTAL {
    margin-right: 1.5rem;
    height: 44px;
  } 
  &-item.VERTICAL {
    margin-bottom: 1.5rem;
  }
}
