
  // @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


.cmp-title__text{
  font-size: $font-xl;
  color: $dark-gray;
  font-weight: 500;
  letter-spacing: -1.6;
  // font-family: 'Bebas Neue', cursive;
}

h1 {
  margin: 0;
}