/* ===============File Input================== */
.cmp-adaptiveform-fileinput {
  color: $dark-gray;
  font-size: $font-md;
  margin-top: $field-top-m;
  position: relative;
}

.cmp-adaptiveform-fileinput__widget {
  margin-top: 5px;
  width: calc(100% - 16px);

}
.cmp-adaptiveform-fileinput__widget::-webkit-file-upload-button {
  visibility: hidden;
}
.cmp-adaptiveform-fileinput__widget::before {
  content: 'Attach';
  display: inline-block;
  outline: none;
  border: 2px solid $dark-gray;
  background: $white;
  color: $dark-gray;
  border-radius: 1.5rem;
  font-size: $font-md;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.cmp-adaptiveform-fileinput__widgetlabel {
  border-radius: 1.5rem;
  border: 2px solid;
  padding: 0.625rem 1rem;
  font-size: $font-sm;
  display: inline-block;
  cursor: pointer;
}

.cmp-adaptiveform-fileinput__longdescription {
  color: $light-gray;
  background-color: $very-light-gray;
  font-size: $font-sm;
  padding: 0.125rem 0.5rem;
  margin-top: $error-top-m;
}

.cmp-adaptiveform-fileinput__shortdescription {
  font-size: $font-sm;
  margin-top: $error-top-m;
}

.cmp-adaptiveform-fileinput__questionmark {
  position: absolute;
  display:inline-block;
  top:8px;
  right:8px;
  width:1rem;
  height:1rem;
  border-radius: 9px;
  background: url(./resources/images/question.svg) center center / cover no-repeat,#969696;
  cursor : pointer;
}
.cmp-adaptiveform-fileinput__errormessage{
  color: $error;
  font-size: $font-sm;
  margin-top: $error-top-m;
}
.cmp-adaptiveform-fileinput[data-cmp-valid=false]{
  border-left-width: 4px;
  border-style: solid;
  border-color: $error;
  border-right-width: 0;
  border-top-width: 0;
  border-bottom-width: 0;
  background: $light-error;
  padding: 5px;
}
.cmp-adaptiveform-fileinput[data-cmp-valid=true]{
  border-bottom-width: 0;
  border-right-width: 0;
  border-top-width: 0;
  border-left-width: 4px;
  border-style: solid;
  border-color: $success;
  padding: 5px 0 0 5px;
}

.cmp-adaptiveform-fileinput__filelist {
  padding-left: 0;
  margin: 0;
  list-style: none;
}
.cmp-adaptiveform-fileinput__fileitem {
  display: block;
  padding: 10px;
  border-top: 1px solid $light-gray;
}
.cmp-adaptiveform-fileinput__filename {
  text-decoration: underline;
  cursor: pointer;
}
.cmp-adaptiveform-fileinput__filedelete {
  float: right;
  font-size: $font-lg;
  font-weight: bold;
  line-height: 1;
  text-shadow: 0 1px 0 $white;
  opacity: .2;
  cursor: pointer;
}