/* ===============Radio Button================== */
.cmp-adaptiveform-radiobutton{
  color: $dark-gray;
  font-size: $font-md;
  margin: $field-margin;
  position: relative;
  display: flex;
  flex-direction: column;
}
.cmp-adaptiveform-radiobutton__widget{
  font-size: $font-md;
  color: $dark-gray;
  margin-top: $label-top-margin;
  display: flex;
  gap: $radio-checkbox-gap;
  margin-right: $field-right-margin;
}
.cmp-adaptiveform-radiobutton__widget.HORIZONTAL{
  height: $field-height;
}
.cmp-adaptiveform-radiobutton__widget.VERTICAL{
  flex-direction: column;
}
.cmp-adaptiveform-radiobutton__longdescription {
  color: $light-gray;
  background-color: $very-light-gray;
  font-size: $font-sm;
  padding: 0.125rem 0.5rem;
  margin-top: $error-top-margin;
}
.cmp-adaptiveform-radiobutton__shortdescription {
  font-size: $font-sm;
  margin-top: $error-top-margin;
}
.cmp-adaptiveform-radiobutton__questionmark{
  position: absolute;
  display:inline-block;
  top:8px;
  right:28px;
  width:1rem;
  height:1rem;
  border-radius: 9px;
  background: url(./resources/images/question.svg) center center / cover no-repeat,#969696;
  cursor : pointer;
}
.cmp-adaptiveform-radiobutton__errormessage{
  color: $error;
  font-size: $font-sm;
  margin-top: $error-top-margin;
}
.cmp-adaptiveform-radiobutton__option.HORIZONTAL{
  margin-right: 1.5rem;
  color: $gray;
  display: inline-flex;
  height: 44px;
}
.cmp-adaptiveform-radiobutton__option.VERTICAL{
  margin-bottom: 1.5rem;
  color: $gray;
  display: flex;
}
.cmp-adaptiveform-radiobutton[data-cmp-valid=false]{
  background: $light-error;
  border: 0 solid $error;
  border-left-width: 4px;
  padding-left: 5px;
}
.cmp-adaptiveform-radiobutton[data-cmp-valid=true]{
  border: 0 solid $success;
  border-left-width: 4px;
  padding-left: 5px;
}