/* ===============Radio Button================== */
.cmp-adaptiveform-radiobutton{
  color: $dark-gray;
  font-size: $font-md;
  margin-top: $field-top-m;
  position: relative;
}
.cmp-adaptiveform-radiobutton__label {
  margin-bottom: $label-top-m;
  display: block;
}
.cmp-adaptiveform-radiobutton__longdescription {
  color: $light-gray;
  background-color: $very-light-gray;
  font-size: $font-sm;
  padding: 0.125rem 0.5rem;
  margin-top: $error-top-m;
}
.cmp-adaptiveform-radiobutton__shortdescription {
  font-size: $font-sm;
  margin-top: $error-top-m;
}
.cmp-adaptiveform-radiobutton__questionmark{
  position: absolute;
}
.cmp-adaptiveform-radiobutton__errormessage{
  color: $error;
  font-size: $font-sm;
  margin-top: $error-top-m;
}
.cmp-adaptiveform-radiobutton__option.HORIZONTAL{
  margin-right: 1.5rem;
  color: $gray;
  display: inline-flex;
}
.cmp-adaptiveform-radiobutton__option.VERTICAL{
  margin-bottom: 1.5rem;
  color: $gray;
  display: flex;
}
.cmp-adaptiveform-radiobutton[data-cmp-valid=false]{
  border-left-width: 4px;
  border-style: solid;
  border-color: $error;
  border-right-width: 0;
  border-top-width: 0;
  border-bottom-width: 0;
  background: $light-error;
  padding: 5px;
}
.cmp-adaptiveform-radiobutton[data-cmp-valid=true]{
  border-bottom-width: 0;
  border-right-width: 0;
  border-top-width: 0;
  border-left-width: 4px;
  border-style: solid;
  border-color: $success;
  padding: 5px 0 0 5px;
}