/* ===============Radio Button================== */
.cmp-adaptiveform-radiobutton {
  @include container();
  &__widget {
    @include widget(0, $field-right-margin, $label-top-margin);
    display: flex;
    gap: $radio-checkbox-gap;
  }
  &__widget.HORIZONTAL {
    height: $field-height;
  }
  &__widget.VERTICAL {
    flex-direction: column;
  }
  @include descriptionMixin(0,0,28px);
  @include validInvalidMixin();
  &__option.HORIZONTAL {
    margin-right: 1.5rem;
    color: $gray;
    display: inline-flex;
    height: 44px;
  }
  &__option.VERTICAL {
    margin-bottom: 1.5rem;
    color: $gray;
    display: flex;
  }
}
