.cmp-adaptiveform-pageheader{
  display: flex;
  align-items: center;
  height: 80px;
  background: white;
  column-gap: $space-s;
  padding: 24px;
  color: $dark-gray;
  font-size: $font-l;
  border-bottom: $border-light;
  
  }

.cmp-adaptiveform-pageheader img{
  height: $tap-height / 1.5;
  margin: 0;
  width: auto;
  color: white;
  display: block;
}

.cmp-adaptiveform-pageheader div:last-child{
  display: flex;
  align-items: center;
}

p {
  margin: 0;
}
