/* ===============Text Input================== */
.cmp-adaptiveform-textinput {
  color: $dark-gray;
  font-size: $font-md;
  margin-top: $field-top-m;
  position: relative;
}
.cmp-adaptiveform-textinput__widget {
  margin-top: $label-top-m;
  width: calc(100% - 16px);
  height: $field-height;
  border-radius: 0.25rem;
  border: 1px solid $dark-gray;
  font-size: $font-md;
  color: $dark-gray;
  padding-left: $field-padding-l;
}
.cmp-adaptiveform-textinput__longdescription {
  color: $light-gray;
  background-color: $very-light-gray;
  font-size: $font-sm;
  padding: 0.125rem 0.5rem;
  margin-top: $error-top-m;
}
.cmp-adaptiveform-textinput__shortdescription {
  font-size: $font-sm;
  margin-top: $error-top-m;
}
.cmp-adaptiveform-textinput__questionmark{
  position: absolute;
}
.cmp-adaptiveform-textinput__errormessage{
  color: $error;
  font-size: $font-sm;
  margin-top: $error-top-m;
}
.cmp-adaptiveform-textinput[data-cmp-valid=false]{
  border-left-width: 4px;
  border-style: solid;
  border-color: $error;
  border-right-width: 0;
  border-top-width: 0;
  border-bottom-width: 0;
  background: $light-error;
  padding: 5px;
}
.cmp-adaptiveform-textinput[data-cmp-valid=true]{
  border-bottom-width: 0;
  border-right-width: 0;
  border-top-width: 0;
  border-left-width: 4px;
  border-style: solid;
  border-color: $success;
  padding: 5px 0 0 5px;
}