//containers
.cmp-adaptiveform-textinput,
.cmp-adaptiveform-numberinput, 
.cmp-adaptiveform-datepicker,
.cmp-adaptiveform-dropdown,
.cmp-adaptiveform-fileinput,
.cmp-adaptiveform-radiobutton,
.cmp-adaptiveform-checkboxgroup {
  position: relative;
  display: flex;
  flex-direction: column;
  
}

div[data-cmp-is="adaptiveFormTextInput"],
div[data-cmp-is="adaptiveFormNumberInput"],
div[data-cmp-is="adaptiveFormDatePicker"],
div[data-cmp-is="adaptiveFormDropDown"],
div[data-cmp-is='adaptiveFormFileInput'],
div[data-cmp-is="adaptiveFormRadioButton"],
div[data-cmp-is="adaptiveFormCheckBoxGroup"] {
  padding: 0 0;
  margin: $space-m 0;
}

div:has(input:focus) {
  z-index: 10;
}



//static labels
.cmp-adaptiveform-fileinput__label,
.cmp-adaptiveform-radiobutton__label,
.cmp-adaptiveform-checkboxgroup__label{
  position: static;
  font-size: $font-s;
  margin: $space-s 0;
}


input, select {
  border-radius: 4px;
  font-size: $font-m;
  height: $field-height;
  padding: 0 $space-s;
  margin: $space-s 0;
  border: $border-light;
  background-color: transparent;
}

input:focus, select:focus {
  background-color: white  !important;
  outline-offset: 2px;
  outline: $focus-outline;
  outline-width: 2px !important;
}


label {
  opacity: 1;
  color: $dark-gray;
  padding: 0;
  font-size: $font-m;
  pointer-events: none;
  z-index: 11;
 }









@keyframes shake {
  10%, 90% {
    translate: -1px 0;
  }
  
  20%, 80% {
    translate: 2px 0;
  }

  30%, 50%, 70% {
    translate :-4px 0;
  }

  40%, 60% {
    translate: 4px 0;
  }
}


.cmp-adaptiveform-textinput__longdescription,
.cmp-adaptiveform-numberinput__longdescription, 
.cmp-adaptiveform-datepicker__longdescription, 
.cmp-adaptiveform-dropdown__longdescription, 
.cmp-adaptiveform-checkboxgroup__longdescription, 
.cmp-adaptiveform-radiobutton__longdescription, 
.cmp-adaptiveform-fileinput__longdescription

{
  display: flex;
  color: $dark-gray;
  background-color: $bg-gray;
  font-size: $font-s;
  font-weight: 500;
  border-radius: 4px;
  padding: $space-s;

  margin: 0 0 $space-s 0;
}

.cmp-adaptiveform-textinput__shortdescription, 
.cmp-adaptiveform-numberinput__shortdescription,  
.cmp-adaptiveform-datepicker__shortdescription,  
.cmp-adaptiveform-dropdown__shortdescription,  
.cmp-adaptiveform-checkboxgroup__shortdescription,  
.cmp-adaptiveform-radiobutton__shortdescription,  
.cmp-adaptiveform-fileinput__shortdescription {
  display: flex;
  position: static;
  font-size: $font-s;
  font-weight: 500;
  color: $gray;
  margin: 0 0 $space-s 0;
}

.cmp-adaptiveform-textinput__questionmark, 
.cmp-adaptiveform-numberinput__questionmark,  
.cmp-adaptiveform-datepicker__questionmark,
.cmp-adaptiveform-dropdown__questionmark,
.cmp-adaptiveform-checkboxgroup__questionmark,
.cmp-adaptiveform-radiobutton__questionmark,
.cmp-adaptiveform-fileinput__questionmark {
  position: absolute;
  display: flex;
  top: 0;
  right: 0;
  padding: 0;
  width: $font-m;
  height: $font-m;
  border-radius: 9px;
  background: url(./resources/images/question.svg) center center / cover no-repeat, $very-light-gray;
  cursor: pointer;
  border: none;
}

.cmp-adaptiveform-textinput__questionmark:hover, 
.cmp-adaptiveform-numberinput__questionmark:hover,
.cmp-adaptiveform-datepicker__questionmark:hover,
.cmp-adaptiveform-dropdown__questionmark:hover,
.cmp-adaptiveform-checkboxgroup__questionmark:hover,
.cmp-adaptiveform-radiobutton__questionmark:hover,
.cmp-adaptiveform-fileinput__questionmark:hover {
  background: $blue;
}

.cmp-adaptiveform-textinput__errormessage, 
.cmp-adaptiveform-numberinput__errormessage,
.cmp-adaptiveform-datepicker__errormessage,
.cmp-adaptiveform-dropdown__errormessage,
.cmp-adaptiveform-checkboxgroup__errormessage,
.cmp-adaptiveform-radiobutton__errormessage,
.cmp-adaptiveform-fileinput__errormessage {
  display: none;
  color: $error;
  font-size: $font-s;
  font-weight: 500;
  margin: 0 ;
}


//add layouts and navigation - short long and help
.cmp-adaptiveform-textinput[data-cmp-valid=false] > .cmp-adaptiveform-textinput__shortdescription, 
.cmp-adaptiveform-numberinput[data-cmp-valid=false] > .cmp-adaptiveform-numberinput__shortdescription, 
.cmp-adaptiveform-datepicker[data-cmp-valid=false] > .cmp-adaptiveform-datepicker__shortdescription, 
.cmp-adaptiveform-dropdown[data-cmp-valid=false] > .cmp-adaptiveform-dropdown__shortdescription, 
.cmp-adaptiveform-checkboxgroup[data-cmp-valid=false] > .cmp-adaptiveform-checkboxgroup__shortdescription, 
.cmp-adaptiveform-radiobutton[data-cmp-valid=false] > .cmp-adaptiveform-radiobutton__shortdescription, 
.cmp-adaptiveform-fileinput[data-cmp-valid=false] > .cmp-adaptiveform-fileinput__shortdescription {
  display: none;
}


.cmp-adaptiveform-textinput[data-cmp-valid=false] > .cmp-adaptiveform-textinput__errormessage, 
.cmp-adaptiveform-numberinput[data-cmp-valid=false] > .cmp-adaptiveform-numberinput__errormessage, 
.cmp-adaptiveform-datepicker[data-cmp-valid=false] > .cmp-adaptiveform-datepicker__errormessage, 
.cmp-adaptiveform-dropdown[data-cmp-valid=false] > .cmp-adaptiveform-dropdown__errormessage, 
.cmp-adaptiveform-checkboxgroup[data-cmp-valid=false] > .cmp-adaptiveform-checkboxgroup__errormessage, 
.cmp-adaptiveform-radiobutton[data-cmp-valid=false] > .cmp-adaptiveform-radiobutton__errormessage, 
.cmp-adaptiveform-fileinput[data-cmp-valid=false] > .cmp-adaptiveform-fileinput__errormessage {
  display: flex;
}

div[data-cmp-valid=false] > input,  div[data-cmp-valid=false] > select
 {
  outline: $border-error;
  background-color: $light-error;
  // animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  
}



textarea.cmp-adaptiveform-textinput__widget {
  height: 80px;
}