/* ===============Datepicker================== */
.cmp-adaptiveform-datepicker {
  color: $dark-gray;
  font-size: $font-md;
  margin-top: $field-top-m;
  position: relative;
}
.cmp-adaptiveform-datepicker__widget {
  margin-top: $label-top-m;
  width: calc(100% - 16px);
  height: $field-height;
  border-radius: 0.25rem;
  border: 1px solid $dark-gray;
  font-size: $font-sm;
  color: $dark-gray;
  padding-left: $field-padding-l;
}
.cmp-adaptiveform-datepicker__longdescription {
  color: $light-gray;
  background-color: $very-light-gray;
  font-size: $font-sm;
  padding: 0.125rem 0.5rem;
  margin-top: $error-top-m;
}
.cmp-adaptiveform-datepicker__shortdescription {
  font-size: $font-sm;
  margin-top: $error-top-m;
}
.cmp-adaptiveform-datepicker__questionmark {
  position: absolute;
  display:inline-block;
  top:8px;
  right:8px;
  width:1rem;
  height:1rem;
  border-radius: 9px;
  background: url(./resources/images/question.svg) center center / cover no-repeat,#969696;
  cursor : pointer;
}
.cmp-adaptiveform-datepicker__errormessage{
  color: $error;
  font-size: $font-sm;
  margin-top: $error-top-m;
}
.cmp-adaptiveform-datepicker[data-cmp-valid=false]{
  border-left-width: 4px;
  border-style: solid;
  border-color: $error;
  border-right-width: 0;
  border-top-width: 0;
  border-bottom-width: 0;
  background: $light-error;
  padding: 5px;
}
.cmp-adaptiveform-datepicker[data-cmp-valid=true]{
  border-bottom-width: 0;
  border-right-width: 0;
  border-top-width: 0;
  border-left-width: 4px;
  border-style: solid;
  border-color: $success;
  padding: 5px 0 0 5px;
}