/* ===============Datepicker================== */
.cmp-adaptiveform-datepicker {
  @include container();
  &__widget {
    @include widget(0.25rem, $field-right-margin, 14px);
    height: $field-height;
    border: 1px solid $dark-gray;
    padding-left: $field-padding-left;
  }
  @include validInvalidMixin();
  @include descriptionMixin(0, $field-right-margin, 28px);
}