/* ===============Number Input================== */
.cmp-adaptiveform-numberinput {
   @include container();
  &__widget {
   @include widget(0.25rem, $field-right-margin, $label-top-margin);
   height: $field-height;
   border: 1px solid $dark-gray;
   padding-left: $field-padding-left; 
  } 
  @include descriptionMixin(0, $field-right-margin, 28px);
  @include validInvalidMixin();
}
