/* ===============Panel Container================== */
.cmp-container {
    color: $dark-gray;
    font-size: $font-md;
    margin: $field-margin;
    position: relative;
    margin-right: $field-right-margin;
  &__label {
    font-size: $font-lg;
  }  
  @include descriptionMixin(0,0,8px);
}
