/* ===============Panel Container================== */
.cmp-container{
  color: $primary-color;
  font-size: $font-size;
  margin-top: $field-top-m;
}
.cmp-container__label{
  font-size: $panel-font-size
}