/* ===============Footer================== */
.cmp-adaptiveform-footer{
  color: $light-gray;
  background-color: $very-light-gray;
  font-size: $font-xsm;
  margin-top: $field-top-m;
  text-align: center;
}
.cmp-adaptiveform-footer__text{
  padding: .5rem 0;
}