.cmp-accordion {
    margin: $field-margin;
    position: relative;
    margin-right: $field-right-margin;
  &__item {
    border: 2px solid $silver;
  }
  &__button {
    font-size:$font-sm;
    color:$light-gray;
    cursor: pointer;
    border: none;
    padding: 1rem;
  }  
  &__button:hover {
    color: $dark-gray
  }
  &__title::before {
    border: 3px solid $light-gray;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 4px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    content: '';
    margin-right: 1rem;
  }
  & {
    &__button--expanded{
      &__title:before {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
      }
    }
  }
  &__panel {
    padding: 1rem 3.5rem;
    background: $panel-bg-color;
  }
  @include descriptionMixin(5px,0,8px);
}

