.cmp-tabs {
   color: $dark-gray;
   font-size: $font-md;
   margin: $field-margin;
   position: relative;
   margin-right: $field-right-margin;
  &__tablist {
     border-bottom: 1px solid $very-light-gray;
  } 
  &__tab {
    padding: 0.5rem 0 1rem 0;
    color: $light-gray;
    margin-right: 3rem;
  }
  & {
    &__tab--active {
      border-bottom: 2px solid $dark-gray;
      color: $dark-gray;
    }
    &__tab--active:hover {
      border-bottom: 2px solid $dark-gray;
    }
  }
  &__tab:hover {
    border-bottom: 2px solid $light-gray;
  }
  @include descriptionMixin(0,0,8px);
}

