//== Defaults
html, body {
  color: $dark-gray;
  font-size: $font-md;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.aem-Grid {
  @include generate-grid(default, $max_col, left);
}

// Phone breakpoint
@media (max-width: 768px) {
  .aem-Grid {
    @include generate-grid(phone, $max_col, left);
  }
}

// Uncomment for tablet usecase.
// @media (min-width: 769px) and (max-width: 1200px) {
//   .aem-Grid {
//     @include generate-grid(tablet, $max_col, left);
//   }
// }

// If RTL support not needed then comment this block for better performance.
[dir="rtl"] {
  .aem-Grid {
    @include generate-grid(default, $max_col, right);
  }
  // Phone breakpoint
  @media (max-width: 768px) {
    .aem-Grid {
      @include generate-grid(phone, $max_col, right);
    }
  }

  // Uncomment for tablet usecase.
  // @media (min-width: 769px) and (max-width: 1200px) {
  //   .aem-Grid {
  //     @include generate-grid(tablet, $max_col, right);
  //   }
  // }
}
