@mixin tab_list {
    padding: 0;
    counter-reset: section;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    margin-bottom: $space-s;
    text-transform: uppercase;
    font-family: SourceSansSemiBold;
}

@mixin field_label {
    opacity: 1;
    color: $dark-gray;
    padding: 0;
    font-size: $font-m;
    pointer-events: none;
    z-index: 11;
}

@mixin field_widget {
    height: $field-height;
    color: $dark-gray;
    padding: 0 $space-s;
    font-size: $font-m;
    font-family: SourceSans;
    border-radius: 0;
    background-color: $bg-gray;
}

@mixin long_description {
    display: flex;
    font-size: $font-s;
    font-weight: bold;
    padding: $space-s;
    margin: 0 0 $space-s 0;
    @include surface();
    font-family: SourceSansSemiBold;
}

@mixin short_description {
    display: flex;
    position: static;
    font-size: $font-s;
    font-family: SourceSansSemiBold;
    color: $gray;
    margin: 0 0 $space-s 0;
}

@mixin error_message {
    display: none;
    color: $error;
    font-size: $font-s;
    font-family: SourceSansSemiBold;
    margin: 0;
}

@mixin surface {

    color: $dark-gray;
    background-color: white;
    border: $border-light;
    border-width: 2px;
    box-shadow: 0 8px 16px 0px rgba($color: #000000, $alpha: .02);
}



@mixin primary_button {
    background: $accent;
    border: none !important;
    height: $tap-height;
    padding: 0 $space-s;
    cursor: pointer;
    color: $dark-gray;
    font-size: $font-m;
    font-family: SourceSansSemiBold;
    &:hover {
        background-color: $dark-accent;
      }
}

@mixin secondary_button {
    display: flex;
    column-gap: $space-xs;
    position: static;
    align-self: flex-start;
    background: $dark-gray;
    height: $tap-height;
    align-items: center;
    
    vertical-align: text-bottom;
    cursor: pointer !important;
    color: white;
    
    font-size: $font-m;
    padding: 0  $space-m;
  
    font-weight: bold;
    margin-top: $space-xs;
    margin-bottom: 0;
    opacity: 1;

    

}