
//== Font

$font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-title: 'Source Serif Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;

$primary-color: #666;
$secondary-color: #888;
$white: #fff;
$error-color: #eb3c36;
$error-bg-color:rgba(235,60,54,0.05);
$success-color: #23b482;
$disabled-color: #e6e6e6;
$description-color: #969696;
$border-color: #ccc;
$panel-bg-color: #efefef;
$wizard-bg-color: #fafafa;

$font-size: 1rem;
$error-size: .875rem;
$field-top-m: 20px;
$label-top-m: 10px;
$field-height: 40px;
$field-padding-l: 10px;
$error-top-m: 10px;

//== Grid

$max_col: 12;
